:root {
  --main-bg-color: #eddedd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  font-family: Tenor Sans;
  background-color: var(--main-bg-color);
  margin: 1rem;
}

header {
  display: flex;
}

h1 {
  width: 500px;
  height: 100px;
  background-color: #ab807d;
  border-radius: 30px;
  font-size: 4rem;
  padding: 1rem;
  color: #eddedd;
  line-height: normal;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav li {
  margin: 3rem 4rem;
  font-size: 2rem;
  color: #ab807d;
}

nav li:hover {
  font-size: 3.5rem;
  text-shadow: 0px 4px 4px #d6aca7;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65vw;
  border: 10px double #e6bfb6;
  border-radius: 30px;
}

/* The section adjusts the About me heading and paragraph.  */
section {
  display: flex;
  justify-content: space-between;
}
h2 {
  font-size: 4rem;
  text-align: right;
  color: #ab8c93;
  line-height: normal;
  border-radius: 20px;
}

main {
  display: flex;
  flex-direction:column; 
  flex-wrap: wrap;
}

/* Main h2 is flex positioned differently than h2 to account for positioning of application photo/links */

main h2 {
  display: flex;
  align-content: flex-start;
  line-height: normal;
}


article a {
  font-size: 1.5rem;
  font-family: Archivo Narrow;
  color: black;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 5px double #e6bfb6;
  border-radius: 20px;
}

article a:hover {
  background-color: #e6bfb6;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border: 5px double #e6bfb6;
  border-radius: 20px;
  margin-top: 3rem;
  background-color: #ab807d;
  width: 100%;
}

h3 {
  font-size: 4rem;
  color: #eddedd;
}

footer li {
  font-size: 2rem;
  line-height: 3rem;
  order: 3;
}

/* clouds encompases the welcome header and the background image/ */

.clouds {
  height: 10rem;
  width: 100%;
  margin-bottom: 1rem;
  background-image: url(./images/headerclouds.jpg);
  background-size: cover;
  background-position: center;
  font-size: 6rem;
  line-height: 240%;
  text-align: right;
  color: #ab8c93;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about {
  text-align: right;
}

.hello {
  font-size: 1.25rem;
  font-family: Archivo Narrow;
  display: block;
  padding: 1rem;
  border: 1rem 1rem;
  line-height: normal;
}

.headshot {
  width: 200px;
  height: 250px;
}

.work {
  font-size: 4rem;
  justify-content: flex-start;
}

/* .apps keeps unfilled apps smaller than the working application */

.apps {
  height: 200px;
  width: 400px;
}

/* The larger screeen adjusts the header and footer to fall into a column and font size in the footer to fit into the column box. */

@media screen and (max-width: 992px) {
  header,
  main {
    width: 50%;
    flex-direction: column;
    flex-wrap: wrap;
  }
  footer {
    display: flex;
    flex-direction: column;
  }

  footer li {
    font-size: 4vw;
  }
}

@media screen and (max-width: 768px) {
  header,
  main {
    width: 50%;
    flex-direction: column;
    flex-wrap: wrap;
  }
  nav ul {
    flex-direction: column;
    font-size: 1rem;
  }

  h1 {
    flex-shrink: 2;
  }

  .clouds {
    flex-shrink: 2;
  }

  section {
    display: block;
  }

  
  
}

